@font-face {
    font-family: 'Modern Antiqua';
    src: url(fonts/Modern_Antiqua/ModernAntiqua-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Modern Antiqua', serif;
    box-sizing: border-box;
}

body {
    background: url(res/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.div1 {
    z-index: 2;
    position: fixed;
    top: 50%;
    right: -400px;
    width: 150%;
    padding: 15px 0;
    background: rgba(200, 150, 0, .45);
    display: block;
    justify-content: center;
    align-items: center;
    border: 5px dashed rgba(239, 190, 43, 0.8);
    transform: rotate(-5deg);
    transform-origin: top left;

    /* Shimmer effect */
    background: linear-gradient(130deg,
            rgba(200, 150, 0, 0.45) 45%,
            rgba(255, 224, 133, 0.45) 50%,
            rgba(200, 150, 0, 0.45) 55%);
    background-size: 200% 100%;
    animation: shimmer 10s infinite linear;
}

.div2 {
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 150px;
    width: 150%;
    padding: 35px 100px;
    background: rgba(200, 150, 0, .45);
    display: flex;
    border: 5px dashed rgba(239, 190, 43, 0.8);
    transform: rotate(85deg);
    transform-origin: top center;
}

/* Shimmer del header */
@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

h2 {
    font-family: 'Merry Christmas Flake';
    text-align: center;
    color: white;
    background: transparent;
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 50;
}

h3 {
    text-align: center;
    color: white;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 2px 1px 7px white;
}

a {
    background: rgba(255, 255, 255, .70);
    position: absolute;
    left: 48%;
    top: 66%;
    padding: 14px 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    transition: 450ms ease-in-out;
    animation: palpito 4s ease-in-out infinite;
}

a:link,
a:visited {
    color: rgb(43, 98, 215);
}

a:hover,
a:active {
    font-weight: bold;
    background-color: white;
}

@keyframes palpito {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 1px 1px 20px white;
    }

    25%,
    75% {
        transform: scale(0.95);
        box-shadow: 1px 1px 45px white;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 1px 1px 30px white;
    }
}